	/*osnovni stilovi*/
	*{ box-sizing: border-box;}

	body{background-color: #cccc99;font-family: }

	h1{margin-top: 10px; margin-bottom: 15px; text-align: center;}

	#box{ position: relative;}
	
	p{ 	width: 90%;
 		height: 100%;
 		margin-right: 20px;
 		margin-left: 20px;
 		margin-top: 40px;
 		margin-bottom: 20px;

 	 }

	.row{width: 100%}
	.row2{margin: 20px 20px 20px 20px;
		border: 1px solid black;
		background-color: #cc6666;}

	h3.podnaslov{border: 1px solid black; 
				background-color: #cc6600; 
				align-content:  center;
				width:40%;
				 margin: 0;
				 float: right;
				 text-align: center;;
				}
	#boja1{background-color: #c06600;}
	#boja2{background-color: #c00060;}
	#boja3{background-color: #c00620;}

	/*samo za velike uredjaje*/
@media (min-width: 992px) {
  .Ls1, .Ls2, .Ls3, .Ls4, .Ls5, .Ls6,
  .Ls7, .Ls8, .Ls9, .Ls10, .Ls11, .Ls12 {
    float: left;
 
	}

  .Ls1 { width: 8.33%;  }
  .Ls2 { width: 16.66%; }
  .Ls3 { width: 25%;    }
  .Ls4 { width: 33.33%; }
  .Ls5 { width: 41.66%; }
  .Ls6 { width: 50%;    }
  .Ls7 { width: 58.33%; }
  .Ls8 { width: 66.66%; }
  .Ls9 { width: 74.99%; }
  .Ls10 {width: 83.33%; }
  .Ls11 {width: 91.66%; }
  .Ls12 {width: 100%;   }
}
	/*tableti*/
	@media (min-width: 768px) and (max-width: 991px) {
 .Ms1, .Ms2, .Ms3, .Ms4, .Ms5, .Ms6,
  .Ms7, .Ms8, .Ms9, .Ms10, .Ms11, .Ms12 {
    float: left; }

  .Ms1 { width: 8.33%;  }
  .Ms2 { width: 16.66%; }
  .Ms3 { width: 25%;    }
  .Ms4 { width: 33.33%; }
  .Ms5 { width: 41.66%; }
  .Ms6 { width: 50%;    }
  .Ms7 { width: 58.33%; }
  .Ms8 { width: 66.66%; }
  .Ms9 { width: 74.99%; }
  .Ms10 {width: 83.33%; }
  .Ms11 {width: 91.66%; }
  .Ms12 {width: 100%;   }
}
	/*mobilni telefoni*/
	@media (max-width: 767px) {
  .Ls1, .Ss2, .Ss3, .Ss4, .Ss5, .Ss6,
  .Ss7, .Ss8, .Ss9, .Ss10, .Ss11, .Ss12 {
    float: left;}

  .Ss1 { width: 8.33%;  }
  .Ss2 { width: 16.66%; }
  .Ss3 { width: 25%;    }
  .Ss4 { width: 33.33%; }
  .Ss5 { width: 41.66%; }
  .Ss6 { width: 50%;    }
  .Ss7 { width: 58.33%; }
  .Ss8 { width: 66.66%; }
  .Ss9 { width: 74.99%; }
  .Ss10 {width: 83.33%; }
  .Ss11 {width: 91.66%; }
  .Ss12 {width: 100%;   }
}